<div class="page-title-container">
    <div class="container">
        <div class="page-title pull-left">
            <h2 class="entry-title">Giới thiệu</h2>
        </div>
    </div>
</div>
<section id="content">
    <div class="container">
        <div class="row">
            <div id="main" class="col-sm-8 col-md-9 entry-content">
                <div class="vc_row wpb_row row">
                    <div class="col-sm-12 ">
                        <div>
                            <div id="f-corner-1" class="fc-block">
                                <div class="wpb_single_image wpb_content_element vc_align_center">
                                    <figure class="wpb_wrapper vc_figure">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="156" height="45" src="http://dev.gucafe.com/travel/wp-content/uploads/2017/08/logo-2.png" class="vc_single_image-img attachment-full" alt="logo 2 Giới thiệu" title="Giới thiệu"></div>
                                    </figure>
                                </div>
                                <article class="box">
                                    <div class="details">
                                        <div class="title">
                                            <h1>Thư ngỏ</h1>
                                        </div>
                                        <div class="content">
                                            <h2>TẦM NHÌN</h2>
                                            <p>Trên cơ sở phát triển bền vững hơn&nbsp;20 năm hình thành và phát triển, Vietravel hướng đến trở thành trở thành 1 trong 10 Tập đoàn lữ hành hàng đầu khu vực Châu Á và là Công ty đa quốc gia vào năm 2020.</p>
                                            <p>Đây là tầm nhìn chiến lược và đầy thử thách nhưng với một mục tiêu chung, Vietravel đã và đang hiện thực hoá những mục tiêu chiến lược của mình.</p>
                                            <h2>SỨ MỆNH</h2>
                                            <p><strong>Mang lại cảm xúc thăng hoa&nbsp;</strong>cho du khách trong mỗi hành trình – Đây là mục tiêu và là sứ mệnh Vietravel cam kết và nỗ lực mang lại cho du khách. Vietravel trở thành người bạn đồng hành cùng du khách trong mọi hành trình du lịch và tạo ra những giá trị tốt đẹp. Tại Vietravel, du lịch không những là hành trình khám phá mà còn là hành trình sẻ chia, thể hiện dấu ấn khác biệt của Thương hiệu Vietravel từ 3 thuộc tính thương hiệu: Sự chuyên nghiệp, mang lại cảm xúc thăng hoa cho khách hàng và những giá trị gia tăng hấp dẫn cho du khách sau mỗi chuyến đi.</p>
                                            <h2>TRIẾT LÝ KINH DOANH</h2>
                                            <p><strong>Khách hàng là trung tâm</strong>: Vietravel luôn khẳng định khách hàng là trung tâm của mọi hoạt động kinh doanh mà Vietravel hướng đến, vì khách hàng là người góp phần to lớn xây dựng nên thương hiệu Vietravel.</p>
                                            <p><strong>Chuyên nghiệp là thước đo</strong>: Khẳng định uy tín thương hiệu, với mục tiêu không ngừng phát triển hoàn thiện để đạt đến những tầm cao mới trong định hướng chiến lược vươn ra thế giới.</p>
                                            <p><strong>Chất lượng là danh dự</strong>: Vietravel cam kết chất lượng dịch vụ cung cấp đến khách hàng là tốt nhất, điều đó tạo nên sự khác biệt so với thị trường, Vietravel xem đó là trách nhiệm, là danh dự của mỗi cán bộ – nhân viên.</p>
                                        </div>
                                        <p></p>
                                    </div>
                                </article>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%= render "layouts/slidebar" %>
        </div>
    </div>
</section>
