<%= form_for @bill do |f| %>
<div class="row">
  <div class="col-md-4">Name</div>
  <div class="col-md-8">Huynh Van Huy</div>
</div>
<div class="row">
  <div class="col-md-4">Name</div>
  <div class="col-md-8">Huynh Van Huy</div>
</div>
<div class="row">
  <div class="col-md-4">Name</div>
  <div class="col-md-8">Huynh Van Huy</div>
</div>
