<div class="modal-content" style="
   margin:  6% 4% 0% 4%;
   padding:  1% 3%;" >
<div class="modal-header">
   <h3 class="modal-title head_popup"><%= "Orders Tour" %></h3></br>
</div>
<div class="modal-body">
<div class="wrap_pop">
   <h1 class="tour-title"><%= "" %></h1>
   <div class="clear clearfix"></div>
   <div class="info-frame">
      <div class="row">
        <ul class="list-group">
         <%= render partial: "tour_item", collection: cart_items %>
        </ul>
      </div>
      </br>
   </div>
   <div class="clear clearfix"></div>
   <div class="info-frame" style=" text-align: center;">
      <div class="tour-price">
         <span itemprop="price"></span>

         </br>
            <%= submit_tag "Booking", class: "btn btn-success" %>
         <div class="clear clearfix"></div>
         <br>
         <div id="billing-pop-up-status"></div>
      </div>
   </div>
</div>
</div>
</div>
