/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$light-gray: #777;
$Davy-Grey: #555;
$White: #fff;
$Dark: #222;
$Gray: #bbb;
$gray-light: #e6e6e6;
$red: #FF0000;
$state-danger-text: #a94442;
$gray91: #e8e8e8;
$gray80: #ccc;
$gray20: #333;
$rgba8: rgba(0, 0, 0, 0.8);
$color0: #000;
$colorf: #ffffff;
$color3f: #fff;
$bgcolor: transparent;
$bgcolorf: #FFFFFF;
$colorD: #DA251C;
$color1a: #1a1a1a;
$white: white;
$colorf1: #f1f1f1;
$color3: #333;
$black: black;
$colord: #ddd;
$color6: #666;
