<footer id="footer" class="style5">
   <div class="bottom gray-area">
      <div class="container" style="text-align:  center;border-bottom: solid red 2px;margin-bottom:  50px;">
         <%= t ".banquyen" %>
      </div>
   </div>
</footer>
