<div class="sidebar col-sm-4 col-md-3">
    <div id="travlatesttourwidget-3" class="widget travelo-box widget_travlatesttourwidget">
        <h4 class="widgettitle">Tour nổi bật</h4>
        <div class="image-box style14">
            <article class="box">
                <figure>
                    <%= link_to image_tag("img.jpg", alt: "home logo", :style => "height: 100%; width: 100%"), "#" %>
                </figure>
                <div class="details dd">
                    <h5 class="title"><a href="http://dev.gucafe.com/travel/tour/da-nang-ba-na-hoi-son-tra-cu-lao-cham/">Đà Nẵng – Bà Nà – Hội An – Sơn Trà – Cù Lao Chàm</a></h5>
                    <label class="price-wrapper"><span class="price-per-unit">500đ</span>mỗi người</label>
                </div>
            </article>
        </div>
    </div>
</div>
